{% extends 'base.html' %}

{% block title %}<strong>{{ revision.title }}</strong>{% endblock %}
{% block actions %}
<a href="{% url 'revision:delete' revision.id %}" class="btn btn-danger-outline"">Delete</a>
<a href="{% url 'revision:send-for-approval' revision.id %}" class="btn btn-success-outline">Send for approval</a>
<a href="{% url 'revision:preview' revision.id %}" class="btn btn-primary-outline" target="_blank">Preview</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-3">
      {% for rev_file in revision.get_files %}
      <div>
        <a href="{{ rev_file.get_absolute_url }}">{{ rev_file.path }}</a>
      </div>
      {% endfor %}
    </div>

    <div class="col-sm-9">
      {% if revision_file %}
      <form action="" method="post">
        {% include "revision/include/form.html" %}

        <button type="submit" class="btn btn-primary">Save</button>
      </form>
      {% else %}
      <div class="bd-callout m-t-0">
        Please select a file you want to change from the left sidebar.
      </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
