{% extends "revision/detail.html" %}{% load static from staticfiles %}

{% block javascript %}{{ block.super }}
<script src="{% static 'js/simplemde.min.js' %}"></script>
<script type="text/javascript">
  $('textarea').each(function(index, el) {
    new SimpleMDE({
      element: el
    })
  });
</script>
{% endblock %}

{% block css %}{{ block.super }}
<link href="{% static 'css/simplemde.min.css' %}" rel="stylesheet">
{% endblock %}

{% block detail-content %}
<div class="col-sm-4">
  {% for rev_file in revision.get_files %}
  <div>
    <a href="{{ rev_file.get_absolute_url }}">{{ rev_file.path }}</a>
  </div>
  {% endfor %}
</div>

<div class="col-sm-8">
  {% if form %}
    <form action="" method="post">
      {% include "revision/include/form.html" %}
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  {% else %}
  <div class="bd-callout m-t-0">
    Please select a file you want to change from the left sidebar.
  </div>
  {% endif %}
</div>
{% endblock %}
