{% extends 'base.html' %}

{% block title %}<strong>{{ revision.title }}</strong>{% endblock %}
{% block actions %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actions
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    {% if revision.is_in_draft %}
    <a class="dropdown-item" href="{% url 'revision:send-for-2i' revision_id %}">Submit for 2i</a>
    {% endif %}
    {% if revision.is_in_2i %}
    <a class="dropdown-item" href="{% url 'revision:send-back' revision_id %}">Send back</a>
    {% endif %}
    <a class="dropdown-item" href="{% url 'revision:publish' revision_id %}">Publish</a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="m-b-3">
  <span class="tag tag-info">{{ revision.statuses|join:", " }}</span> assigned to <i>{{ revision.assignees|join:", " }}</i>
</div>

{% block detail-nav %}
<ul class="nav nav-tabs m-b-3">
  <li class="nav-item">
    <a class="nav-link{% if page_type == 'activities' %} active{% endif %}" href="{% url 'revision:activities' revision_id %}">Comments ({{ revision.tot_comments|default:0 }})</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if page_type == 'editor' %} active{% endif %}" href="{% url 'revision:editor' revision_id %}">Editor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if page_type == 'changes' %} active{% endif %}" href="#">Changes</a>
  </li>
</ul>
{% endblock %}

<div class="row">
  {% block detail-content %}{% endblock %}
</div>
{% endblock content %}
