{% extends 'base.html' %}

{% block title %}Revisions{% endblock %}
{% block actions %}
<a href="{% url 'revision:new' %}" class="btn btn-primary-outline">New</a>
{% endblock %}

{% block content %}
<div class="bd-callout m-t-0">
  <p>A revision is a piece of work managed by a Content Designer when editing content pages.</p>
  <p>The workflow is the follow:</p>

  <ol>
    <li>Start a new revision by giving a short title explaining the changes</li>
    <li>Edit the content of the pages as you wish</li>
    <li>The revision stays <i>in progress</i> and you can keep making as many changes as you want for as long as you want</li>
    <li>When finished, send the revision for approval. This will mark it as <i>in review</i> and will be assigned to a developer on github</li>
    <li>After the revision as been merged by the developer, it will disappear from here</li>
  </ol>
</div>

{% if revisions %}
  <ul class="list-group">
  {% for revision in revisions %}
    <li class="list-group-item">
      <a href="{{ revision.get_absolute_url }}">{{ revision.title }}</a></i>

      {% if revision.is_in_review %}
      <span class="label label-success">In Review</span>
      {% else %}
      <span class="label label-primary">In Progress</span>
      {% endif %}
    </li>
  {% endfor %}
{% else %}
  <div>No revisions exist.</div>
{% endif %}
{% endblock content %}
