{% extends 'base.html' %}

{% block title %}Previewing {{ revision.title }}{% endblock %}

{% block extra_head %}
{% if not error %}
  <meta http-equiv="refresh" content="{{ refresh_win }}; URL=?refresh={{ refresh_count }}">
{% endif %}
{% endblock %}

{% block content %}
<div class="bd-callout{% if error %} bd-callout-danger{% endif %}">
  {% if error %}
    <h4>Error</h4>
    The preview app failed to responde. Please contact a developer that will hopefully fix that.
  {% else %}
    Please wait until the preview app is ready, the page will refresh itself.
  {% endif %}
</div>
{% endblock content %}
