{% extends 'base.html' %}

{% block title %}
  Send for approval revision <strong>{{ revision.title }}</strong>
{% endblock %}

{% block content %}
<div class="bd-callout bd-callout-danger">
  <h4>Please note:</h4>
  <div>
    You are confirming that you have finished working on this revision
    and you want to send it for approval.
  </div>
  <div>
    Please confirm or improve the revision title/description. This would
    help review your revision.
  </div>
</div>

<form action="" method="post">
  {% include "revision/include/form.html" %}

  <button type="submit" class="btn btn-primary">Send for approval</button>
  <a href="{{ revision.get_absolute_url }}">Cancel</a>
</form>
{% endblock content %}
