{% extends 'base.html' %}

{% block content %}
<h1>Send for approval revision <strong>{{ revision.short_title }}</strong></h1>

<div>
  You are confirming that you have finished working on this revision
  and you want to send it for approval.
</div>
<div>
  Please confirm or improve the revision title/description. This would
  help review your revision.
</div>

<form action="" method="post">{% csrf_token %}
  {{ form.as_p }}

  <input type="submit" name="Send for approval" value="Send for approval">
  <a href="{% url 'revision:detail' revision.name %}">Cancel</a>
</form>
{% endblock content %}
