{% extends 'base.html' %}

{% block title %}Submit for 2i: <strong>{{ revision.title }}</strong>{% endblock %}


{% block content %}
<div class="bd-callout bd-callout-default">
  <h4>Please note:</h4>
  <div>
    You are about to submit this revision for 2i and assign it to a different writer.
  </div>
  <div>
    You can optionally add a comment and it'll appear in the "Comments" section.
  </div>
</div>

<form action="" method="post">
  {% include "revision/include/form.html" %}

  <button type="submit" class="btn btn-primary">Send for 2i</button>
  <a href="{{ revision.get_absolute_url }}">Cancel and go back</a>
</form>
{% endblock %}
