.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}
.bd-callout-danger { border-left-color: #d9534f; }
.bd-callout-info { border-left-color: #5bc0de; }
.bd-callout-info h4 { color: #5bc0de; }
.bd-callout-danger h4 { color: #d9534f; }
.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem;
}
.bd-callout+.bd-callout {
    margin-top: -.25rem;
}
#top-header {
  background-color: #0072c6;
  padding: 1.5rem 1rem;
  border-radius: 0;
}
#top-header a {
  color: #fff;
}
.actions {
  float: right;
}
.fl {
  float: right;
}

.tag {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.tag-default { background-color: #818a91; }
.tag-primary { background-color: #0275d8; }
.tag-success { background-color: #5cb85c; }
.tag-info { background-color: #5bc0de; }
.tag-warning { background-color: #f0ad4e; }
.tag-danger { background-color: #d9534f; }
